{% extends "purple_robot_base.html" %}
{% load purple_robot %}
{% load static %}
{% block 'title' %}{{ device.name }}{% endblock %}
{% block 'content' %}
	<div class="col-md-12" style="margin-top: 61px;">
		<h1>{{ device.name }}: {{ short_name }}</h1>
	</div>
	<div class="col-md-9">
		{{ visualization }}
		&nbsp;
		<h3>Readings Frequency History</h3>
		<div id="frequency_chart" style="border: 1px solid #808080; height: 180px; width: 100%; overflow: hidden;"></div>

		<h3>Battery History</h3>
		<div id="battery_chart" style="border: 1px solid #808080; height: 180px; width: 100%; overflow: hidden;"></div>

		<h3>Pending Files</h3>
		<div id="pending_chart" style="border: 1px solid #808080; height: 180px; width: 100%; overflow: hidden;"></div>
		{% autoescape off %}
			<div style="margin: 2em 0 0 0; padding: 0;">
				<h3 id="toolbar_events" style="margin: 0; padding: 0;">Last 500 Readings</h3>
			
				<table class="table" data-toggle="table" data-pagination="true" data-search="true" data-toolbar="#toolbar_events">
					<thead>
						<tr>
							<th>Date</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						{% for reading in last_readings %}
							<tr>
								<td>{{ reading.logged }}</td>
								<td>{{ reading.fetch_summary }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endautoescape %}
	</div>
	<div class="col-md-3">
		<h4 style="margin-top: 0;">Details</h4>
		
		<div>
			<span>
				<small><strong>Last Reading</strong></small>
			</span>
			<span class="pull-right"><small>{% if last_reading.logged %}{% pr_date_ago last_reading.logged %}{% else %}None{% endif %}</small></span>
		</div>

		<div>
			<span>
				<small><strong>Last Report</strong></small>
			</span>
			<span class="pull-right"><small>{% if test.last_updated %}{% pr_date_ago test.last_updated %}{% else %}None{% endif %}</small></span>
		</div>

		<div>
			<span>
				<small><strong>Avg Frequency (Last 24 hrs.)</strong></small>
			</span>
			<span class="pull-right"><small>{% if test.average_frequency != None %}{% pr_frequency test.average_frequency %}{% else %}Unknown{% endif %}</small></span>
		</div>

		<h4 style="margin-top: 2em;">Probe Settings</h4>
		[ Probe settings ]<br />

	</div>
	<script src="{% static 'vendor/rickshaw.min.js' %}"></script>
	<script src="{% static 'vendor/moment-with-locales.min.js' %}"></script>
{% endblock %}
{% block 'page_script' %}
	$(document).ready(function()
	{
		$('[data-toggle="tooltip"]').tooltip();
		
		var batterySeries = [];
		
		{% for reading in device.battery_history %}
			batterySeries.push({ "y": {{ reading.level }}, "x": {{ reading.timestamp }} });
		{% endfor %}
		
		var graph = new Rickshaw.Graph( {
			element: document.getElementById("battery_chart"),
			height: 180,
			width: $("div#battery_chart").width(),
			renderer: 'scatterplot',
			series: [
				{
					color: "#2E79B9",
					data: batterySeries,
					name: 'Battery Level'
				}
			],
			padding: { top: 0.25, bottom: 0.25 }
		});
		
		var timeUnit = {
			'name': '4 hour', 
			'seconds': 3600 * 4, 
			'formatter': function(d)
			{ 
				return moment(d).format('h:mm a');
			}
		};
		
		var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph, timeUnit: timeUnit } );

		var hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: graph,
			onShow: function(event)
			{
				var text = $(".x_label").text();
				var parenIndex = text.indexOf(")");
				text = text.substring(0, parenIndex + 1);
			},
			xFormatter: function(x)
			{ 
				var date = new Date (x * 1000);
				return "" + date 
			},
			yFormatter: function(y) { return Math.floor(y) + "%" }
		});
		
		graph.render();
		
		var pendingSeries = [];
		
		{% for reading in device.pending_history %}
			pendingSeries.push({ "y": {{ reading.count }}, "x": {{ reading.timestamp }} });
		{% endfor %}

		var pendingGraph = new Rickshaw.Graph( {
			element: document.getElementById("pending_chart"),
			height: 180,
			width: $("div#pending_chart").width(),
			renderer: 'scatterplot',
			series: [
				{
					color: "#58B957",
					data: pendingSeries,
					name: 'Pending Uploads'
				}
			],
			padding: { top: 0.25, bottom: 0.25 }
		});

		x_axis = new Rickshaw.Graph.Axis.Time( { graph: pendingGraph, timeUnit: timeUnit } );

		hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: pendingGraph,
			onShow: function(event)
			{
				var text = $(".x_label").text();
				var parenIndex = text.indexOf(")");
				text = text.substring(0, parenIndex + 1);
			},
			xFormatter: function(x)
			{ 
				var date = new Date (x * 1000);
				return "" + date 
			},
			yFormatter: function(y) { return Math.floor(y) + " files" }
		});
		
		pendingGraph.render();
		
		var freqGraph = new Rickshaw.Graph( {
			element: document.getElementById("frequency_chart"),
			height: 180,
			width: $("div#frequency_chart").width(),
			renderer: 'scatterplot',
			series: [
				{
					color: "#B71C1C",
					data: {{ test.frequency_graph_json|safe }},
					name: 'Samples per 15 minutes'
				}
			],
			padding: { top: 0.25 }
		});
		
		var timeUnit = {
			'name': '4 hour', 
			'seconds': 3600 * 4, 
			'formatter': function(d)
			{ 
				return moment(d).format('h:mm a');
			}
		};

		x_axis = new Rickshaw.Graph.Axis.Time( { graph: freqGraph, timeUnit: timeUnit } );

//		y_axis = new Rickshaw.Graph.Axis.Y( {
//			graph: freqGraph,
//			orientation: 'left',
//			tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
//		});
		
		hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: freqGraph,
			onShow: function(event)
			{
				var text = $(".x_label").text();
				var parenIndex = text.indexOf(")");
				text = text.substring(0, parenIndex + 1);
				
				selectedDate = moment(text);
			},
			xFormatter: function(x)
			{ 
				var date = new Date (x * 1000);
				return "" + date 
			},
			yFormatter: function(y) { return Math.floor(y) + " samples (" + (y / (15 * 60)) + " Hz)" }
		});
		
		freqGraph.render();
	});
{% endblock %}
