{% extends "purple_robot_base.html" %}
{% load purple_robot %}
{% load static %}
{% block 'title' %}{{ device.name }}{% endblock %}
{% block 'content' %}
	{% pr_device_custom_console %}
	<div class="col-md-12">
		<h1>{{ device.name }}</h1>
	</div>
	<div class="col-md-9">
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Alert:</span>
			Alerts have not yet been defined properly (todo).
		</div>
		<div class="alert alert-warning" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Warning:</span>
			Warnings have not yet been defined properly (todo).
		</div>

		<h3>Battery History</h3>
		<div id="battery_chart" style="border: 1px solid #808080; height: 180px; width: 100%; overflow: hidden;"></div>

		<h3>Pending Files</h3>
		<div id="pending_chart" style="border: 1px solid #808080; height: 180px; width: 100%; overflow: hidden;"></div>

		<h3>Data Generated</h3>
		<div id="upload_chart" style="border: 1px solid #808080; height: 180px; width: 100%; overflow: hidden;"></div>

		<h3>Probes</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Probe</th>
					<th class="text-center"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Last Reading"></span></th>
					<th class="text-center">#</th>
					<th class="text-center"><span class="glyphicon glyphicon-stats" data-toggle="tooltip" data-placement="top" title="Frequency"></span></th>
					<th class="text-center"><span class="glyphicon glyphicon-heart" data-toggle="tooltip" data-placement="top" title="Status"></span></th>
				</tr>
			</thead>
			<tbody>
				{% for reading in device.last_readings %}
					<tr>
						<td>{{ reading.name }}</th>
						<td class="text-center">{% pr_date_ago reading.last_update %}</td>
						<td class="text-center">{{ reading.num_readings }}</td>
						<td class="text-center">{{ reading.frequency }}</td>
						<td class="text-center">{{ reading.status }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h3>Models (TODO)</h3>
		
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<th>Type</th>
					<th>Last Prediction</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Test Model</th>
					<td>Random Forest</td>
					<td>Play Golf</td>
					<td>42d</td>
				</tr>
			</tbody>
		</table>

		<h3>Triggers</h3>
		
		<table class="table">
			<thead>
				<tr>
				<th>Name</th>
				<th>Identifier</th>
				<th>Type</th>
				<th>Last Fired</th>
				</tr>
			</thead>
			<tbody>
				{% for trigger in device.triggers %}
					<tr>
						<td>{{ trigger.name }}</th>
						<td>{{ trigger.identifier }}</td>
						<td>{{ trigger.trigger_type }}</td>
						<td>{% pr_timestamp_ago trigger.last_fired %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h3 id="toolbar_events" style="margin: 0; padding: 0;">Event Log (Last Week)</h3>
		
		<table class="table" data-toggle="table" data-pagination="true" data-search="true" data-toolbar="#toolbar_events">
			<thead>
				<tr>
					<th>Event</th>
					<th>Generated</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for event in device.events %}
					<tr>
						<td>{{ event.event }}</td>
						<td>{{ event.logged }}</td>
						<td>{{ event.description }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-3">
		<h4 style="margin-top: 0;">Details</h4>
		
		<div>
			<span>
				<small><strong>Device ID</strong></small>
			</span>
			<span class="pull-right"><small>{{ device.device_id }}</small></span>
		</div>

		<div>
			<span>
				<small><strong>App</strong></small>
			</span>
			{% with value=device.config_last_user_agent %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>

		<div>
			<span>
				<small><strong>Model</strong></small>
			</span>
			{% with value=device.last_model %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>

		<div>
			<span>
				<small><strong>Platform</strong></small>
			</span>
			{% with value=device.last_platform %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>

		<div>
			<span>
				<small><strong>Config Update</strong></small>
			</span>
			{% with value=device.config_last_fetched %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>

		<div>
			<span>
				<small><strong>Battery Level</strong></small>
			</span>
			{% with value=device.last_battery %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}%</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>

		<div>
			<span>
				<small><strong>Last Upload</strong></small>
			</span>
			{% with value=device.last_upload %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>

		<div>
			<span>
				<small><strong>Pending Uploads</strong></small>
			</span>
			{% with value=device.last_pending_count %}
				{% if value %}
					<span class="pull-right"><small>{{ value }}</small></span>
				{% else %}
					<span class="pull-right"><small>Unknown</small></span>
				{% endif %}
			{% endwith %}
		</div>


		<h4 style="margin-top: 2em;">Basic Settings</h4>
		[ Common settings ]<br />

		<h4 style="margin-top: 2em;">Installed Apps</h4>
		installed apps <br />

	</div>
	<script src="{% static 'vendor/rickshaw.min.js' %}"></script>
	<script src="{% static 'vendor/moment-with-locales.min.js' %}"></script>
{% endblock %}
{% block 'page_script' %}
	$(document).ready(function()
	{
		$('[data-toggle="tooltip"]').tooltip();
		
		var batterySeries = [];
		
		{% for reading in device.battery_history %}
			batterySeries.push({ "y": {{ reading.level }}, "x": {{ reading.timestamp }} });
		{% endfor %}
		
		var graph = new Rickshaw.Graph( {
			element: document.getElementById("battery_chart"),
			height: 180,
			width: $("div#battery_chart").width(),
			renderer: 'scatterplot',
			series: [
				{
					color: "#2E79B9",
					data: batterySeries,
					name: 'Battery Level'
				}
			],
			padding: { top: 0.25, bottom: 0.25 }
		});
		
		var timeUnit = {
			'name': '4 hour', 
			'seconds': 3600 * 4, 
			'formatter': function(d)
			{ 
				return moment(d).format('h:mm a');
			}
		};
		
		var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph, timeUnit: timeUnit } );

		var hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: graph,
			onShow: function(event)
			{
				var text = $(".x_label").text();
				var parenIndex = text.indexOf(")");
				text = text.substring(0, parenIndex + 1);
			},
			xFormatter: function(x)
			{ 
				var date = new Date (x * 1000);
				return "" + date 
			},
			yFormatter: function(y) { return Math.floor(y) + "%" }
		});
		
		graph.render();
		
		var pendingSeries = [];
		
		{% for reading in device.pending_history %}
			pendingSeries.push({ "y": {{ reading.count }}, "x": {{ reading.timestamp }} });
		{% endfor %}

		var pendingGraph = new Rickshaw.Graph( {
			element: document.getElementById("pending_chart"),
			height: 180,
			width: $("div#pending_chart").width(),
			renderer: 'scatterplot',
			series: [
				{
					color: "#58B957",
					data: pendingSeries,
					name: 'Pending Uploads'
				}
			],
			padding: { top: 0.25, bottom: 0.25 }
		});

		x_axis = new Rickshaw.Graph.Axis.Time( { graph: pendingGraph, timeUnit: timeUnit } );

		hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: pendingGraph,
			onShow: function(event)
			{
				var text = $(".x_label").text();
				var parenIndex = text.indexOf(")");
				text = text.substring(0, parenIndex + 1);
			},
			xFormatter: function(x)
			{ 
				var date = new Date (x * 1000);
				return "" + date 
			},
			yFormatter: function(y) { return Math.floor(y) + " files" }
		});
		
		pendingGraph.render();
		
		var uploadSeries = [];
		
		{% for reading in device.data_size_history %}
			uploadSeries.push({ "y": {{ reading.size }}, "x": ({{ reading.timestamp }} - (12 * 60 * 60)) });
		{% endfor %}

		var uploadGraph = new Rickshaw.Graph( {
			element: document.getElementById("upload_chart"),
			height: 180,
			width: $("div#upload_chart").width(),
			renderer: 'bar',
			series: [
				{
					color: "#E57373",
					data: uploadSeries,
					name: 'Uploaded Bytes'
				}
			],
			padding: { top: 0.25, bottom: 0.25 }
		});
		
		var offset = new Date().getTimezoneOffset();
		
		timeUnit = {
			'name': '1 day', 
			'seconds': 3600 * 24,
			'formatter': function(d)
			{ 
				return moment(d).format('MMMM Do YYYY');
			}
		};

		x_axis = new Rickshaw.Graph.Axis.Time({ 
			graph: uploadGraph, 
			timeUnit: timeUnit
		});
		
		x_axis.tickOffsets = function() {
			var domain = this.graph.x.domain();
			
			var time = Rickshaw.Fixtures.Time();

			var unit = this.fixedTimeUnit || this.appropriateTimeUnit();
			var count = Math.ceil((domain[1] - domain[0]) / unit.seconds);

			var runningTick = domain[0];

			var offsets = [];

			for (var i = 0; i < count; i++) {
				var tickValue = Math.ceil(runningTick / unit.seconds) * unit.seconds

				runningTick = tickValue + unit.seconds / 2;

				offsets.push( { value: tickValue + (offset * 60), unit: unit } );
			}

			return offsets;
		};

		hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: uploadGraph,
			onShow: function(event)
			{
				var text = $(".x_label").text();
				var parenIndex = text.indexOf(")");
				text = text.substring(0, parenIndex + 1);
			},
			xFormatter: function(x)
			{ 
				var date = new Date (x * 1000);
				return "" + date 
			},
			yFormatter: function(y) { return (y / (1024 * 1024)).toFixed(2) + " MB" }
		});
		
		uploadGraph.render();
	});
{% endblock %}
