<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{% url 'pr_home' %}">Purple Robot Home</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<!-- <ul class="nav navbar-nav">
		<li id="header_export"><a href="{% url 'create_export_job' %}">Create Export Job</a></li>
		<li id="header_user"><a href="{% url 'pr_by_user' %}">By User</a></li>
		<li id="header_probe"><a href="{% url 'pr_by_probe' %}">By Probe</a></li>
	</ul> -->
</div><!--/.nav-collapse -->
